:root {
    --clr-text: #1b1b1b;
    --clr-primary: #de005c;
    --clr-accent: rgb(191, 191, 191);
    --clr-secondary: #f698bf;
    --ff-heading: "cubano", sans-serif;
    --ff-paragraph: "Roboto", sans-serif;
    --ff-link-nav: "Anton", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;

}

img {

    max-width: 100%;
    height: auto;

}

h1,
p {
    margin-bottom: 1em;
}

p {
    font-family: var(--ff-paragraph);
    font-size: 1.4rem;
    line-height: 1.5em;
    width: 90%;
    color: var(--clr-text);
    position: relative;
    z-index: 2;
}

h1 {
    color: #de005c;
    font-family: var(--ff-heading);
    font-weight: 500;
    font-size: 2.5rem;
    position: relative;
    z-index: 2;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    font-size: 1.5rem;
    font-family: var(--ff-link-nav);
    color: var(--clr-accent);
    text-decoration: none;
}

a.active {
    color: #de005c;
}


.whiteboard {
    overflow-x: hidden;
    z-index: 2;
    position: relative;
    background-color: rgb(19, 83, 67);
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.whiteboard img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#titleOne {
    width: 60%;
    bottom: 61%;
}

#titleMain {
    width: 60%;
    bottom: 53%;
}

#titleTwo {
    width: 60%;
    bottom: 46%;
}



#top-bar {
    position: fixed;
    z-index: 6;
    background-color: rgb(255, 255, 255);
    width: 100%;
    -webkit-box-shadow: -2px 1px 11px -9px rgba(148, 148, 148, 1);
    -moz-box-shadow: -2px 1px 11px -9px rgba(148, 148, 148, 1);
    box-shadow: -2px 1px 11px -9px rgba(148, 148, 148, 1);
    height: 35px;
}

.logo {
    width: 30%;
    margin-top: 1.3em;
    margin-left: 2.5em;
}

.line-pink {
    display: block;
    border-bottom: 2px solid var(--clr-primary);
    position: absolute;
    top: 10px;
    padding: 1.2em;
    width: 130px;
    margin-right: 0.4em;
}

.languages-wrapper {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 4em;
    left: 3em;
    width: 40%;
}

.line-v {
    border-left: 2px solid rgb(191, 191, 191);
    margin-left: 1em;
    margin-right: 1em;
    height: 1em;
}

.hamburger-menu {
z-index: 9;
    width: 35px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navbar {
    overflow: hidden;
    z-index: 6;
    width: 100%;
    height: 60%;
    position: fixed;
    top: 117px;
    right: -340px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s cubic-bezier(0, 0, .58, 1);
    -webkit-transition: all 0.7s cubic-bezier(0, 0, .58, 1);
    -moz-transition: all 0.7s cubic-bezier(0, 0, .58, 1);
    -ms-transition: all 0.7s cubic-bezier(0, 0, .58, 1);
    -o-transition: all 0.7s cubic-bezier(0, 0, .58, 1);
}

.change {
    right: 0;
}



.lineh {
    width: 100%;
    height: 3px;
    background-color: var(--clr-primary);
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
    -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
    -moz-transform: rotateZ(-45deg) translate(-8px, 6px);
    -ms-transform: rotateZ(-45deg) translate(-8px, 6px);
    -o-transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
    -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
    -moz-transform: rotateZ(45deg) translate(-8px, -6px);
    -ms-transform: rotateZ(45deg) translate(-8px, -6px);
    -o-transform: rotateZ(45deg) translate(-8px, -6px);
}

.nav-list {
    z-index: 6;
    background-color: var(--clr-secondary);
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 0px;
    -webkit-box-shadow: -2px 1px 11px -9px rgba(148, 148, 148, 1);
    -moz-box-shadow: -2px 1px 11px -9px rgba(148, 148, 148, 1);
    box-shadow: -2px 1px 11px -9px rgba(148, 148, 148, 1);
}

.nav-item {
    list-style: none;
    margin: 15px;
}

.nav-link {
    display: flex;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    letter-spacing: 1px;
    position: relative;
    padding: 3px 0;
}

.nav-link:hover {
    color: var(--clr-primary);
    text-decoration: underline;
}

a.nav-link {
    font-size: 1.3rem;
}



/* * * Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #top-bar {

        height: 50px;
    }

    .logo {
        width: 30%;
        margin-top: 1.3em;
        margin-left: 2.5em;
    }

    .line-pink {
        border-bottom: 1.5px solid var(--clr-primary);
        position: absolute;
        top: 15px;
        width: 130px;
        margin-right: 0.4em;
    }

    .languages-wrapper {
        display: flex;
        justify-content: flex-start;
        position: fixed;
        top: 1.5em;
        left: 18em;
        width: 40%;
    }

    .line-v {
        border-left: 1px solid rgb(191, 191, 191);
        margin-left: 1em;
        margin-right: 1em;
        height: 1em;
    }

    a {
        font-size: 1rem;
    }

    .hamburger-menu {
        width: 25px;
        height: 20px;
        position: fixed;
        top: 12px;
        right: 20px;
    }

    .lineh {
        width: 100%;
        height: 3px;
        background-color: var(--clr-primary);

    }

    .change .line-1 {
        transform: rotateZ(-45deg) translate(-6px, 4px);
        -webkit-transform: rotateZ(-45deg) translate(-6px, 4px);
        -moz-transform: rotateZ(-45deg) translate(-6px, 4px);
        -ms-transform: rotateZ(-45deg) translate(-6px, 4px);
        -o-transform: rotateZ(-45deg) translate(-6px, 4px);
    }

    .change .line-3 {
        transform: rotateZ(45deg) translate(-6px, -4px);
        -webkit-transform: rotateZ(45deg) translate(-6px, -4px);
        -moz-transform: rotateZ(45deg) translate(-6px, -4px);
        -ms-transform: rotateZ(45deg) translate(-6px, -4px);
        -o-transform: rotateZ(45deg) translate(-6px, -4px);
    }

    .nav-list {

        background-color: var(--clr-secondary);
        text-align: right;
        position: absolute;
        top: 5px;
        right: 0px;
    }

    .nav-item {
        list-style: none;
        margin: 15px;
    }

    .nav-link {
        display: flex;
        text-decoration: none;
        font-size: 2rem;
        color: white;
        letter-spacing: 1px;
        position: relative;
        padding: 3px 0;
    }

    .nav-link:hover {
        color: var(--clr-primary);
        text-decoration: underline;
    }

    a.nav-link {
        font-size: 1.3rem;
    }

}

@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
    #top-bar {

        height: 55px;
    }

    .logo {
        width: 20%;
        margin-top: 1.3em;
        margin-left: 2.5em;
    }

    .line-pink {
        border-bottom: 2px solid var(--clr-primary);
        position: absolute;
        top: 17px;
        width: 160px;
        margin-right: 0.4em;
    }

    .languages-wrapper {
        display: flex;
        justify-content: flex-start;
        position: fixed;
        top: 1em;
        left: 45em;
        width: 40%;
    }

    .line-v {
        border-left: 1px solid rgb(191, 191, 191);
        margin-left: 1em;
        margin-right: 1em;
        height: 1em;
    }

    .hamburger-menu {
        width: 25px;
        height: 20px;
        position: fixed;
        top: 12px;
        right: 20px;
    }

    .lineh {
        width: 100%;
        height: 3px;
        background-color: var(--clr-primary);

    }

    .change .line-1 {
        transform: rotateZ(-45deg) translate(-6px, 4px);
        -webkit-transform: rotateZ(-45deg) translate(-6px, 4px);
        -moz-transform: rotateZ(-45deg) translate(-6px, 4px);
        -ms-transform: rotateZ(-45deg) translate(-6px, 4px);
        -o-transform: rotateZ(-45deg) translate(-6px, 4px);
    }

    .change .line-3 {
        transform: rotateZ(45deg) translate(-6px, -4px);
        -webkit-transform: rotateZ(45deg) translate(-6px, -4px);
        -moz-transform: rotateZ(45deg) translate(-6px, -4px);
        -ms-transform: rotateZ(45deg) translate(-6px, -4px);
        -o-transform: rotateZ(45deg) translate(-6px, -4px);
    }

    
    .nav-list {

        background-color: var(--clr-secondary);
        text-align: right;
        position: absolute;
        top:5px;
        height: 240px;
        margin-bottom: 80px;
    }

    .nav-item {
        list-style: none;
        margin: 5px;
    }

    .nav-link {
        color: white;
        letter-spacing: 1px;
    }

    .nav-link:hover {
        color: var(--clr-primary);
        text-decoration: underline;
    }

    a.nav-link {
        font-size: 1rem;
    }
}

@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {
    #top-bar {

        height: 65px;
    }

    .logo {
        width: 15%;
        margin-top: 1.4em;
        margin-left: 2.5em;
    }

    .line-pink {
        border-bottom: 2px solid var(--clr-primary);
        position: absolute;
        top: 30px;
        width: 190px;
        margin-right: 0.4em;
    }

    .languages-wrapper {
        display: flex;
        justify-content: flex-start;
        position: fixed;
        top: 2em;
        left: 80em;
        width: 40%;
    }

    .line-v {
        border-left: 1px solid rgb(191, 191, 191);
        margin-left: 1em;
        margin-right: 1em;
        height: 1em;
    }

    .hamburger-menu {
        width: 25px;
        height: 20px;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .lineh {
        width: 100%;
        height: 3px;
        background-color: var(--clr-primary);

    }

    .change .line-1 {
        transform: rotateZ(-45deg) translate(-6px, 4px);
        -webkit-transform: rotateZ(-45deg) translate(-6px, 4px);
        -moz-transform: rotateZ(-45deg) translate(-6px, 4px);
        -ms-transform: rotateZ(-45deg) translate(-6px, 4px);
        -o-transform: rotateZ(-45deg) translate(-6px, 4px);
    }

    .change .line-3 {
        transform: rotateZ(45deg) translate(-6px, -4px);
        -webkit-transform: rotateZ(45deg) translate(-6px, -4px);
        -moz-transform: rotateZ(45deg) translate(-6px, -4px);
        -ms-transform: rotateZ(45deg) translate(-6px, -4px);
        -o-transform: rotateZ(45deg) translate(-6px, -4px);
    }

    
    .nav-list {

        background-color: var(--clr-secondary);
        text-align: right;
        position: absolute;
        top:5px;
        height: 240px;
        margin-bottom: 80px;
    }

    .nav-item {
        list-style: none;
        margin: 5px;
    }

    .nav-link {
        color: white;
        letter-spacing: 1px;
    }

    .nav-link:hover {
        color: var(--clr-primary);
        text-decoration: underline;
    }

    a.nav-link {
        font-size: 1rem;
}
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {
    #top-bar {

        height: 65px;
    }

    .logo {
        width: 15%;
        margin-top: 1.3em;
        margin-left: 2.5em;
    }

    .line-pink {
        border-bottom: 2px solid var(--clr-primary);
        position: absolute;
        top: 22px;
        width: 160px;
        margin-right: 0.4em;
    }

    .languages-wrapper {
        display: flex;
        justify-content: flex-start;
        position: fixed;
        top: 2em;
        left: 82em;
        width: 40%;
    }

    .line-v {
        border-left: 1px solid rgb(191, 191, 191);
        margin-left: 1em;
        margin-right: 1em;
        height: 1em;
    }
    .nav-list {

        background-color: var(--clr-secondary);
        text-align: right;
        position: absolute;
        top:5px;
        height: 240px;
        margin-bottom: 80px;
    }

    .nav-item {
        list-style: none;
        margin: 5px;
    }

    .nav-link {
        color: white;
        letter-spacing: 1px;
    }

    .nav-link:hover {
        color: var(--clr-primary);
        text-decoration: underline;
    }

    a.nav-link {
        font-size: 1rem;
}

}

@media only screen and (min-device-width : 1201px) and (max-device-width:1600px) {
    #top-bar {

        height: 75px;
    }

    .logo {
        width: 13%;
        margin-top: 2em;
        margin-left: 2.5em;
    }

    .line-pink {
        border-bottom: 2px solid var(--clr-primary);
        position: absolute;
        top: 38px;
        width: 190px;
        margin-right: 0.4em;
    }

    .languages-wrapper {
        display: flex;
        justify-content: flex-start;
        position: fixed;
        top: 2.5em;
        left: 122em;
        width: 40%;
    }

    .line-v {
        border-left: 1px solid rgb(191, 191, 191);
        margin-left: 1em;
        margin-right: 1em;
        height: 1em;
    }

    .nav-list {

        background-color: var(--clr-secondary);
        text-align: right;
        position: absolute;
        top:5px;
        height: 240px;
        margin-bottom: 80px;
    }

    .nav-item {
        list-style: none;
        margin: 5px;
    }

    .nav-link {
        color: white;
        letter-spacing: 1px;
    }

    .nav-link:hover {
        color: var(--clr-primary);
        text-decoration: underline;
    }

    a.nav-link {
        font-size: 1rem;
}
}

@media only screen and (min-device-width : 1601px) and (max-device-width:2048px) {
    #top-bar {

        height: 125px;
    }

    .logo {
        width: 10%;
        margin-top: 3em;
        margin-left: 2.5em;
    }

    .line-pink {
        border-bottom: 2px solid var(--clr-primary);
        position: absolute;
        top: 64px;
        width: 200px;
        margin-right: 0.4em;
    }

    .languages-wrapper {
        display: flex;
        justify-content: flex-start;
        position: fixed;
        top: 4em;
        left: 122em;
        width: 40%;
    }

    .line-v {
        border-left: 1px solid rgb(191, 191, 191);
        margin-left: 1em;
        margin-right: 1em;
        height: 1em;
    }

    a {
        font-size: 2rem;
    }

    .nav-list {

        background-color: var(--clr-secondary);
        text-align: right;
        position: absolute;
        top:5px;
        height: 240px;
        margin-bottom: 80px;
    }

    .nav-item {
        list-style: none;
        margin: 5px;
    }

    .nav-link {
        color: white;
        letter-spacing: 1px;
    }

    .nav-link:hover {
        color: var(--clr-primary);
        text-decoration: underline;
    }

    a.nav-link {
        font-size: 1rem;
}
.hamburger-menu {
    width: 25px;
    height: 20px;
    position: fixed;
    top: 40px;
    right: 40px;
}
}



@media only screen and (min-device-width : 2049px) and (max-device-width:3044px) {
    #top-bar {

        height: 125px;
    }

    .logo {
        width: 10%;
        margin-top: 3em;
        margin-left: 2.5em;
    }

    .line-pink {
        border-bottom: 2px solid var(--clr-primary);
        position: absolute;
        top: 64px;
        width: 200px;
        margin-right: 0.4em;
    }

    .languages-wrapper {
        display: flex;
        justify-content: flex-start;
        position: fixed;
        top: 4em;
        left: 162em;
        width: 40%;
    }

    .line-v {
        border-left: 1px solid rgb(191, 191, 191);
        margin-left: 1em;
        margin-right: 1em;
        height: 1em;
    }

    a {
        font-size: 2rem;
    }

    .hamburger-menu {
        width: 25px;
        height: 20px;
        position: fixed;
        top: 40px;
        right: 40px;
    }
}

/* ///END TOP BAR ///// */


/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {}
@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {}
@media only screen and (min-device-width : 1201px) and (max-device-width:1600px) {}
@media only screen and (min-device-width : 1601px) and (max-device-width:2048px) {}
@media only screen and (min-device-width : 2049px) and (max-device-width:3044px) {} */


/* ///SECTION TITLES/// */

.whiteboard {
    overflow-x: hidden;
    z-index: 2;
    position: relative;
    background-color: rgb(19, 83, 67);
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.whiteboard img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#titleOne {
    width: 60%;
    bottom: 321px;
}

#titleMain {
    width: 60%;
    bottom:273px;
}

#titleTwo {
    width: 60%;
    bottom: 234px;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .whiteboard {
        overflow-x: hidden;
        z-index: 2;
        position: relative;
        background-color: rgb(19, 83, 67);
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
    }
    
    .whiteboard img {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
    #titleOne {
        width: 60%;
        bottom: 32em;
    }
    
    #titleMain {
        width: 60%;
        bottom:27em;
    }
    
    #titleTwo {
        width: 60%;
        bottom: 23em;
    }
} 
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
    .whiteboard {
        overflow-x: hidden;
        z-index: 2;
        position: relative;
        background-color: rgb(61, 36, 2);
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
    }
    
    .whiteboard img {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
    #titleOne {
        width: 50%;
        bottom:18em;
    }
    
    #titleMain {
        width: 50%;
        bottom:9em;
    }
    
    #titleTwo {
        width: 50%;
        bottom: 1em;
    }
} 

@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {
    .whiteboard {
        overflow-x: hidden;
        z-index: 2;
        position: relative;
        background-color: rgb(0, 47, 22);
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
    }
    
    .whiteboard img {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
    #titleOne {
        width: 50%;
        bottom: 36em;
    }
    
    #titleMain {
        width: 50%;
        bottom:23em;
    }
    
    #titleTwo {
        width: 50%;
        bottom: 12em;
    }
}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {
    .whiteboard {
        overflow-x: hidden;
        z-index: 2;
        position: relative;
        background-color: rgb(0, 47, 22);
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
    }
    
    .whiteboard img {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
    #titleOne {
        width: 50%;
        bottom: 30em;
    }
    
    #titleMain {
        width: 50%;
        bottom:17em;
    }
    
    #titleTwo {
        width: 50%;
        bottom: 7em;
    }
}
@media only screen and (min-device-width : 1201px) and (max-device-width:1600px) {
    #titleOne {
        width: 40%;
        bottom: 35em;
    }
    
    #titleMain {
        width: 40%;
        bottom:21em;
    }
    
    #titleTwo {
        width: 40%;
        bottom: 9em;
    }
}
@media only screen and (min-device-width : 1601px) and (max-device-width:2048px) {
    #titleOne {
        width: 30%;
        bottom: 34em;
    }
    
    #titleMain {
        width: 30%;
        bottom:19em;
    }
    
    #titleTwo {
        width: 30%;
        bottom: 7em;
    }
}
@media only screen and (min-device-width : 2049px) and (max-device-width:3044px) {
    #titleOne {
        width: 30%;
        bottom: 35em;
    }
    
    #titleMain {
        width: 30%;
        bottom:20em;
    }
    
    #titleTwo {
        width: 30%;
        bottom: 7em;
    }
}

/* ///SECTION EXPERIENCE/// */

#experience {
    z-index: 1;
    position: absolute;
    background-color: yellow;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    scroll-margin-top: 5em;
}


.our {
    margin-left: 2em;
    margin-top: 2em;
}

.line-two {
    position: relative;
    bottom: 1.5em;
    margin-bottom: 2em;
    display: block;
    border-bottom: 0.4em solid #de005c;
    width: 55%;
}
.line-decor {
    position: relative;
    bottom: 1.2em;
    right: 3em;
    display: block;
    border-bottom: 0.2em solid #de005c;
    width: 30%;
}

.redtext {
    font-family: "Roboto", sans-serif;
    color: var(--clr-primary);
    text-transform: uppercase;
    font-weight: 600;
    word-spacing: 2px;
}

.text {

    display: block;
    width: 66%;
    text-align: left;
    line-height: 1.5em;
    letter-spacing: -0.5px;
    font-weight: 500;
}

.content-pink {
    position: relative;
    bottom: 2px;
    z-index: 3;
}

.titlepink {
    color: #de005c;
    text-transform: uppercase;
    font-family: var(--ff-paragraph);
    font-weight: bold;
}

.map{
    position: relative;
}

.pin-g {
    position: absolute;
    z-index: 2;
    width: 3em;
    height: 3em;
}

.pin-p {
    position: absolute;
    z-index: 2;
    width: 3em;
    height: 3em;
}

.germany {
    position: absolute;
    right: 160px;
    top: 440px;
    z-index: 2;
}

.poland {
    position: absolute;
    right: 95px;
    top: 430px;
    z-index: 2;
}

.adgermany {
    display: block;
    position: absolute;
    width: 40%;
    right: 170px;
    top: 460px;
    z-index: 3;
}

.adpoland {
    display: block;
    position: absolute;
    width: 40%;
    right: 10px;
    top: 440px;
    z-index: 3;
}

/* .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
} */

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #experience {
        z-index: 1;
        position: absolute;
        background-color: yellow;
        height: 100vh;
        z-index: 5;
        display: flex;
        justify-content: center;
        flex-direction: column;
        scroll-margin-top: 5em;
    }
    
    h1 {
        color: #de005c;
        font-family: var(--ff-heading);
        font-weight: 500;
        font-size: 3rem;
        position: relative;
        z-index: 2;
    }
    
    .our {
        margin-left: 2em;
        margin-top: 2em;
    }
    
  
    }
    .line-two {
        z-index: 2;
        position: relative;
        bottom: 1.6em;
        margin-bottom: 1em;
        display: block;
        border-bottom: 0.6em solid #de005c;
        width: 70%;
    }

    .line-decor {
        z-index: 2;
        position: relative;
        bottom: 1.2em;
        right: 3em;
        display: block;
        border-bottom: 0.2em solid #de005c;
        width: 20%;
    }

    
    .redtext {
        font-family: "Roboto", sans-serif;
        color: var(--clr-primary);
        text-transform: uppercase;
        font-weight: 600;
        word-spacing: 2px;
    }
    
    .text {
    
        width: 80%;
            text-align: left;
            line-height: 1.5em;
            font-weight: 500;
        }
   
    
        .content-pink {
            position: relative;
            bottom: 12px;
            z-index: 3;
        }
    
    .titlepink {
        color: #de005c;
        text-transform: uppercase;
        font-family: var(--ff-paragraph);
        font-weight: bold;
    }
    
    .map{
        position: relative;
    }
    
    .pin-g {
        position: absolute;
        z-index: 2;
        width: 3em;
        height: 3em;
    }
    
    .pin-p {
        position: absolute;
        z-index: 2;
        width: 3em;
        height: 3em;
    }
    
    .germany {
        position: absolute;
        right: 170px;
        top: 510px;
        z-index: 2;
    }
    
    .poland {
        position: absolute;
        right: 105px;
        top: 490px;
        z-index: 2;
    }
    
    .adgermany {
        display: block;
        position: absolute;
        width: 40%;
        right: 170px;
        top: 460px;
        z-index: 3;
    }
    
    .adpoland {
        display: block;
        position: absolute;
        width: 40%;
        right: 10px;
        top: 440px;
        z-index: 3;
    }


@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
    #experience {
        z-index: 1;
        position: absolute;
        background-color: yellow;
        height: 150vh;
        z-index: 5;
        display: flex;
        justify-content: center;
        flex-direction: column;
        scroll-margin-top: 5em;
    }
    
    h1 {
        color: #de005c;
        font-family: var(--ff-heading);
        font-weight: 500;
        font-size: 3rem;
        position: relative;
        z-index: 2;
    }
    
    .our {
        margin-left: 2em;
        margin-top: 2em;
    }
    

    
    .line-two {
        z-index: 2;
        position: relative;
        bottom: 1.6em;
        margin-bottom: 1em;
        display: block;
        border-bottom: 0.6em solid #de005c;
        width: 70%;
    }

    .line-decor {
        z-index: 2;
        position: relative;
        bottom: 1.2em;
        right: 3em;
        display: block;
        border-bottom: 0.2em solid #de005c;
        width: 20%;
    }

    
    .redtext {
        font-family: "Roboto", sans-serif;
        color: var(--clr-primary);
        text-transform: uppercase;
        font-weight: 600;
        word-spacing: 2px;
    }
    
    .text {
    
        width: 80%;
            text-align: left;
            line-height: 1.5em;
            font-weight: 500;
        }
   
    
        .content-pink {
            position: relative;
            bottom: 12px;
            z-index: 3;
        }
    
    .titlepink {
        color: #de005c;
        text-transform: uppercase;
        font-family: var(--ff-paragraph);
        font-weight: bold;
    }
    
    .map{
        position: relative;
    }
    
    .pin-g {
        position: absolute;
        z-index: 2;
        width: 3em;
        height: 3em;
    }
    
    .pin-p {
        position: absolute;
        z-index: 2;
        width: 3em;
        height: 3em;
    }
    
    .germany {
        position: absolute;
        right: 170px;
        top: 510px;
        z-index: 2;
    }
    
    .poland {
        position: absolute;
        right: 105px;
        top: 490px;
        z-index: 2;
    }
    
    .adgermany {
        display: block;
        position: absolute;
        width: 40%;
        right: 170px;
        top: 460px;
        z-index: 3;
    }
    
    .adpoland {
        display: block;
        position: absolute;
        width: 40%;
        right: 10px;
        top: 440px;
        z-index: 3;
    }
}

@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {
    #experience {
        z-index: 1;
        position: absolute;
        background-color: yellow;
        height: 130vh;
        z-index: 5;
        display: flex;
        justify-content: center;
        flex-direction: column;
        scroll-margin-top: 5em;
    }
    
    h1 {
        color: #de005c;
        font-family: var(--ff-heading);
        font-weight: 500;
        font-size: 4rem;
        position: relative;
        z-index: 2;
    }

    p {
        font-family: var(--ff-paragraph);
        font-size: 1.5rem;
        line-height: 1.5em;
        width: 90%;
        color: var(--clr-text);
        position: relative;
        z-index: 2;
    }
    
    .our {
        margin-left: 2em;
        margin-top: 2em;
    }
    
    .line-two {
        position: relative;
        bottom: 1.5em;
        margin-bottom: 2em;
        display: block;
        border-bottom: 0.4em solid #de005c;
        width: 55%;
    }
    .line-decor {
        position: relative;
        bottom: 1.2em;
        right: 3em;
        display: block;
        border-bottom: 0.2em solid #de005c;
        width: 30%;
    }
    
    .redtext {
        font-family: "Roboto", sans-serif;
        color: var(--clr-primary);
        text-transform: uppercase;
        font-weight: 600;
        word-spacing: 2px;
    }
    
    .text {
    
        display: block;
        width: 66%;
        text-align: left;
        line-height: 1.5em;
        letter-spacing: -0.5px;
        font-weight: 500;
    }
    
    .content-pink {
        position: relative;
        bottom: 2px;
        z-index: 3;
    }
    
    .titlepink {
        color: #de005c;
        text-transform: uppercase;
        font-family: var(--ff-paragraph);
        font-weight: bold;
    }
    
    .map{
        position: relative;
    }
    
    .pin-g {
        position: absolute;
        z-index: 2;
        width: 8em;
        height: 8em;
    }
    
    .pin-p {
        position: absolute;
        z-index: 2;
        width: 8em;
        height: 8em;
    }
    
    .germany {
        position: absolute;
        right: 510px;
        top: 530px;
        z-index: 2;
    }
    
    .poland {
        position: absolute;
        right: 290px;
        top: 500px;
        z-index: 2;
    }
    
    .adgermany {
        display: block;
        position: absolute;
        width: 30%;
        right: 410px;
        top: 560px;
        z-index: 3;
    }
    
    .adpoland {
        display: block;
        position: absolute;
        width: 30%;
        right: 10px;
        top: 540px;
        z-index: 3;
    }
}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {
    #experience {
        z-index: 1;
        position: absolute;
        background-color: yellow;
        height: 180vh;
        z-index: 5;
        display: flex;
        justify-content: center;
        flex-direction: column;
        scroll-margin-top: 5em;
    }
    
    h1 {
        color: #de005c;
        font-family: var(--ff-heading);
        font-weight: 500;
        font-size: 4rem;
        position: relative;
        z-index: 2;
    }

    p {
        font-family: var(--ff-paragraph);
        font-size: 1.5rem;
        line-height: 1.5em;
        width: 90%;
        color: var(--clr-text);
        position: relative;
        z-index: 2;
    }
    
    .our {
        margin-left: 2em;
        margin-top: 2em;
    }
    
    .line-two {
        position: relative;
        bottom: 1.5em;
        margin-bottom: 2em;
        display: block;
        border-bottom: 0.4em solid #de005c;
        width: 55%;
    }
    .line-decor {
        position: relative;
        bottom: 1.2em;
        right: 3em;
        display: block;
        border-bottom: 0.2em solid #de005c;
        width: 30%;
    }
    
    .redtext {
        font-family: "Roboto", sans-serif;
        color: var(--clr-primary);
        text-transform: uppercase;
        font-weight: 600;
        word-spacing: 2px;
    }
    
    .text {
    
        display: block;
        width: 66%;
        text-align: left;
        line-height: 1.5em;
        letter-spacing: -0.5px;
        font-weight: 500;
    }
    
    .content-pink {
        position: relative;
        bottom: 2px;
        z-index: 3;
    }
    
    .titlepink {
        color: #de005c;
        text-transform: uppercase;
        font-family: var(--ff-paragraph);
        font-weight: bold;
    }
    
    .map{
        position: relative;
    }
    
    .pin-g {
        position: absolute;
        z-index: 2;
        width: 8em;
        height: 8em;
    }
    
    .pin-p {
        position: absolute;
        z-index: 2;
        width: 8em;
        height: 8em;
    }
    
    .germany {
        position: absolute;
        right: 510px;
        top: 530px;
        z-index: 2;
    }
    
    .poland {
        position: absolute;
        right: 290px;
        top: 500px;
        z-index: 2;
    }
    
    .adgermany {
        display: block;
        position: absolute;
        width: 30%;
        right: 410px;
        top: 560px;
        z-index: 3;
    }
    
    .adpoland {
        display: block;
        position: absolute;
        width: 30%;
        right: 10px;
        top: 540px;
        z-index: 3;
    }
}
@media only screen and (min-device-width : 1201px) and (max-device-width:1600px) {
    #experience {
        min-height: 250vh;
        position: relative;

        scroll-margin-top: 5em;
    }

    .our {
        margin-left: 5em;
        margin-top: 5em;
    }

    h1 {
        color: #de005c;
        font-family: var(--ff-heading);
        font-weight: 500;
        font-size: 9rem;
        position: relative;
        z-index: 2;
    }

    p {
        font-family: var(--ff-paragraph);
        font-size: 2.2rem;
        line-height: 1.5em;
        width: 90%;
        color: var(--clr-text);
        position: relative;
        z-index: 2;
    }

    .line-two {
        z-index: 1;
        position: relative;
        bottom: 4.9em;
        margin-bottom: 1em;
        display: block;
        border-bottom: 1.5em solid #de005c;
        width: 30%;
    }

    .line-decor {
        position: relative;
        bottom: 4em;
        right: 6em;
        display: block;
        border-bottom: 0.5em solid #de005c;
        width: 20%;
    }

    .text {

        width: 39%;
        text-align: left;
        line-height: 1.5em;
        font-weight: 500;
    }

    .content-pink {
        position: relative;
        bottom: 12px;
        z-index: 3;
    }

}
@media only screen and (min-device-width : 1601px) and (max-device-width:2048px) {
    #experience {
        min-height: 100vh;
        position: relative;
        bottom: 5px;
        scroll-margin-top: 5em;
    }

    .our {
        margin-left: 9em;
        margin-top: 7em;
    }

    h1 {
        color: #de005c;
        font-family: var(--ff-heading);
        font-weight: 500;
        font-size: 15rem;
        position: relative;
        z-index: 2;
    }

    p {
        font-family: var(--ff-paragraph);
        font-size: 3.8rem;
        line-height: 1.5em;
        width: 90%;
        color: var(--clr-text);
        position: relative;
        z-index: 2;
    }

    .line-two {
        z-index: 1;
        position: relative;
        bottom: 12.9em;
        margin-bottom: 2em;
        display: block;
        border-bottom: 2.5em solid #de005c;
        width: 40%;
    }

    .line-decor {
        position: relative;
        bottom: 11.3em;
        right: 10em;
        display: block;
        border-bottom: 0.7em solid #de005c;
        width: 20%;
    }

    .text {

        width: 39%;
        text-align: left;
        line-height: 1.5em;
        font-weight: 500;
    }

    .content-pink {
        position: relative;
        bottom: 70px;
        z-index: 3;
    }
}
@media only screen and (min-device-width : 2049px) and (max-device-width:3044px) {
    #experience {
        min-height: 100vh;
        position: relative;
        bottom: 5px;
        scroll-margin-top: 5em;
    }

    .our {
        margin-left: 9em;
        margin-top: 7em;
    }

    h1 {
        color: #de005c;
        font-family: var(--ff-heading);
        font-weight: 500;
        font-size: 15rem;
        position: relative;
        z-index: 2;
    }

    p {
        font-family: var(--ff-paragraph);
        font-size: 3.8rem;
        line-height: 1.5em;
        width: 90%;
        color: var(--clr-text);
        position: relative;
        z-index: 2;
    }

    .line-two {
        z-index: 1;
        position: relative;
        bottom: 12.9em;
        margin-bottom: 2em;
        display: block;
        border-bottom: 2.5em solid #de005c;
        width: 40%;
    }

    .line-decor {
        position: relative;
        bottom: 11.3em;
        right: 10em;
        display: block;
        border-bottom: 0.7em solid #de005c;
        width: 20%;
    }

    .text {

        width: 39%;
        text-align: left;
        line-height: 1.5em;
        font-weight: 500;
    }

    .content-pink {
        position: relative;
        bottom: 70px;
        z-index: 3;
    }
}

/* ///SECTION SKILLS/// */




@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    

}
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {}
@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {}
@media only screen and (min-device-width : 1201px) and (max-device-width:1600px) {}
@media only screen and (min-device-width : 1601px) and (max-device-width:2048px) {}
@media only screen and (min-device-width : 2049px) and (max-device-width:3044px) {}

/* ///SECTION POSM/// */




@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {}
@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {}
@media only screen and (min-device-width : 1201px) and (max-device-width:1600px) {}
@media only screen and (min-device-width : 1601px) and (max-device-width:2048px) {}
@media only screen and (min-device-width : 2049px) and (max-device-width:3044px) {}

/* ///SECTION KEY VISUALS/// */




@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {}
@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {}
@media only screen and (min-device-width : 1201px) and (max-device-width:1600px) {}
@media only screen and (min-device-width : 1601px) and (max-device-width:2048px) {}
@media only screen and (min-device-width : 2049px) and (max-device-width:3044px) {}

/* ///SECTION GADGETS/// */




@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {}
@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {}
@media only screen and (min-device-width : 1201px) and (max-device-width:1600px) {}
@media only screen and (min-device-width : 1601px) and (max-device-width:2048px) {}
@media only screen and (min-device-width : 2049px) and (max-device-width:3044px) {}

/* ///SECTION FRIENDS/// */




@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {}
@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {}
@media only screen and (min-device-width : 1201px) and (max-device-width:1600px) {}
@media only screen and (min-device-width : 1601px) and (max-device-width:2048px) {}
@media only screen and (min-device-width : 2049px) and (max-device-width:3044px) {}

/* ///SECTION CONTACT/// */




@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {}
@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1200px) {}
@media only screen and (min-device-width : 1201px) and (max-device-width:1600px) {}
@media only screen and (min-device-width : 1601px) and (max-device-width:2048px) {}
@media only screen and (min-device-width : 2049px) and (max-device-width:3044px) {} 